﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TasiSoluciones</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin:50px;">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="page-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/Logo_sf_small.png" class="img-responsive" />
                <a id="lnkBtnHome" class="navbar-brand" href="javascript:__doPostBack('ctl00$lnkBtnHome','')" style="margin-left: 4%;">
                    <img src="../css/assets/img/logo_tasi_final1.png" alt="" class="img-responsive">
                </a>

                <ul class="social list-inline iconos_social navbar-brand-title" style="float: left; margin-top: 15px">
                    <li><a href="https://twitter.com/ScTasi" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/pages/Tasi-Soluciones-y-Servicios-SC/349611345165126?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/tasi-soluciones-sc" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                </ul>
                @*<ul class="quienesS navbar-brand-title">
                    <li style="font-size: 12px; display: inline;">
                        <a id="lnkBtnWhoWeAre" href="javascript:__doPostBack('ctl00$lnkBtnWhoWeAre','')">¿Quienes Somos?</a>
                    </li>
                    <li style="font-size: 12px; display: inline; margin-left: 10px;">
                        <a id="lnkBtnContact" href="javascript:__doPostBack('ctl00$lnkBtnContact','')">Contacto</a>
                    </li>
                </ul>*@
        </div>
    </div>

    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
