﻿@model Metadata.Models.Vacante
@{
    ViewBag.Title = "Vacante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script type="application/ld+json">
        @Html.Raw(ViewBag.JSONLD)
    </script>
</head>

<style>
    .submit_n {
        text-align: center;
        border: 1px solid #4787BE;
        box-shadow: 0 0 1px #999;
        -webkit-box-shadow: 0 0 1px #999;
        -moz-box-shadow: 0 0 1px #999;
        /*font-size: 21px;*/
        color: #fff;
        text-shadow: #706d6d 1px 1px 1px;
        background: #4787BE;
        /*background: linear-gradient(to bottom, #228B22 0, #af032e 100%);*/
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        /*width: 70px;*/
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .box_header_text_l {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    }

    .box_i {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .box_header_r {
        /*background-color: #008B8B;*/
        background-color: #4787BE;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        font-size: 18px;
        margin: 0;
        color: #fff;
        font-weight: 400;
    }
    [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .box_i {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .parrilla {
        width: 100%;
        border: 2px outset;
        border-top-left-radius: 22px;
        border-bottom-right-radius: 22px;
        background-color: white;
        padding: 0px;
        height: 100%
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .box_header_text_l {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

@if (Model != null)
{
<div class="col-sm-9">
    <div class="container parrilla">
        <div class="row header_bolsa">
            <div class="box_r">
                <div class="row box_header_r" style="background-color:#4787BE">
                    <div class="col-sm-6 box_header_text_l">
                        <div>
                            <span id="cphMain_lblVacancy" style="color:white">@Model.nombrePuesto</span>
                        </div>
                    </div>
                    <div class="col-sm-6 box_header_text_r">
                        <span style="color:white">
                            No.
                            <span id="cphMain_lblVacancyId" style="color:white">@Model.idVacante</span><br>
                        </span>
                        <span>
                            <span id="cphMain_lblCreateDate" style="color:white">@Model.fechaCreacion</span>
                        </span>
                    </div>
                </div>
                <div class="row detalle_vacante">
                    <div class="col-sm-12 ">
                        <p><b>Descripción:</b></p>
                        <p>@Html.Raw(Model.observaciones)</p>

                        <p><b>Años de experiencia:</b></p>
                        <ul>
                            <li>@Model.nivelAcademico</li>
                        </ul>

                        <p><b>Escolaridad:</b></p>
                        <ul>
                            <li>@Model.nivelAcademico</li>
                        </ul>

                        <p><b>Municipio:</b></p>
                        <ul>
                            <li>@Model.municipioCadena</li>
                        </ul>

                        <p><b>Estado:</b></p>
                        <ul>
                            <li>@Model.estadoCadena</li>
                        </ul>

                        <p style="font-weight: bold; margin: 5px; margin-top: 15px;">
                            <span>
                                <span class="icon-smile" style="margin-right: 5px"></span><span>Avanzado, </span><span class="icon-neutral" style="margin-right: 5px"></span><span>Intermedio, </span><span class="icon-sad" style="margin-right: 5px"></span><span>Básico </span>
                            </span>
                        </p>

                        <p><b>Idiomas:</b></p>
                        @if (Model.Idiomas != null && Model.Idiomas.Count > 0)
                        {
                            foreach (var i in Model.Idiomas)
                            {
                                <p>
                                    @if (i.Nivel.Equals("Basico"))
                                    {
                                        <span class="icon-sad" style="margin-right: 5px"></span>
                                    }
                                    else if (i.Nivel.Equals("Intermedio"))
                                    {
                                        <span class="icon-neutral" style="margin-right: 5px"></span>
                                    }
                                    else
                                    {
                                        <span class="icon-smile" style="margin-right: 5px"></span>
                                    }
                                    <ul>
                                        <li>@i.sDescripcion</li>
                                    </ul>
                                </p>
                            }
                        }
                        <p><b>Conocimientos Requeridos:</b></p>
                        @if (Model.Conocimientos != null && Model.Conocimientos.Count > 0)
                        {
                            foreach (var i in Model.Conocimientos)
                            {
                                <ul>
                                    <li>@i.sAniosExperienciaCadena años @i.sDescripcion</li>
                                </ul>
                            }
                        }
                        <a href="@Model.url" target="_blank" class="submit_n btn">Postulate aqui</a>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="container parrilla">
        <div class="row detalle_vacante">
            <div class="box_r">
                <div class="box_header_r">
                    <label class="box_header_text_l">RELACIONADOS</label>
                    @if (Model.ListaVacantesRelacionadas != null && Model.ListaVacantesRelacionadas.Count > 0)
                    {
                        foreach (var v in Model.ListaVacantesRelacionadas)
                        {
                            <a href="@v.url">@v.nombrePuesto</a>
                            <p>@v.cliente</p>
                        }
                    }
                </div>
            </div>
        </div>        
    </div>
</div>
}



