﻿@model List<Metadata.Models.Vacante>
@{
    ViewBag.Title = "Vacantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script type="application/ld+json">
        @Html.Raw(ViewBag.JSONLD)
    </script>
</head>

<style>
    .header_bolsa {
        font-size: 14px;
        background-color: #4787BE;
        margin: auto;
        color: #ffffff;
        font-weight: 400;
        border-radius: 10px;
    }

    .parrilla {
        width: 100%;
        border: 2px outset;
        border-top-left-radius: 22px;
        border-bottom-right-radius: 22px;
        background-color: white;
        padding: 0px;
        margin: 0px;
        height: 100%
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>


@if (Model != null)
{
<div class="container parrilla">
    @foreach (var i in Model)
    {
        <div class="row header_bolsa col-lg-12">
            <div class="col-lg-6">
                <a href="/Datos_Estructurados/Vacantes/Details/@i.idVacante">
                    <p style="color:white"><b>@i.nombrePuesto</b></p>
                    <img id="cphMain_gvVacancies_img_0" src="~/Images/go.png" style="height:25px;width:25px;">
                </a>
            </div>
            <div class="col-lg-6">
                <p><b>@i.fechaCreacion</b></p>
                <p><b>@i.estadoCadena</b></p>
                <p><b>@i.Categoria</b></p>
            </div>
        </div>
        <div class="row">
            @Html.Raw(i.observaciones)
        </div>
    }
</div>
}
