﻿
@{
    ViewBag.Title = "AboutSearch";
}

<head>
    <script type="application/ld+json">
        @Html.Raw(ViewBag.JSON)
    </script>
</head>

<br />
<br />

<form action="/Datos_Estructurados/Home/AboutSearch" method="get">
    <input type="text" id="id" name="id" />
    <input type="submit" />
</form>

<h3>@ViewBag.Message</h3>


<pre>@ViewBag.JSON</pre>
