﻿
@{
    ViewBag.Title = "About";
}

<br />
<br />
<form action="/Datos_Estructurados/Home/AboutSearch" method="get">
    <input type="text" id="id" name="id" />
    <input type="submit" />
</form>

<p>Use this area to provide additional information.</p>




